.resultContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 570px;
}

.findContainer{
    padding: 10px;
    position: relative;
    height: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: 200px 20px;
    grid-gap: 5px;
}

.findContainer input{
    width: 100%;
}

.findContainer img{
    width: 100%;
}

form label{
    display: inline-block;
}
